---
import ihop from "../../assets/seccion5/ihop.png";
import sodexo from "../../assets/seccion5/sodexo.png";
import centralchef from "../../assets/seccion5/centralchef.png";
import proesa from "../../assets/seccion5/proesa.png";
import furi from "../../assets/seccion5/furi.png";
import cheftop from "../../assets/seccion5/cheftop.png";
import gastromax from "../../assets/seccion5/gastromax.png";
import innova from "../../assets/seccion5/innova.png";
import w from "../../assets/seccion5/w.png";
import circulo from "../../assets/seccion5/circulo.png";
import circulo2 from "../../assets/seccion5/circulo2.png";
import recuadro from "../../assets/seccion5/recuadro.png";
import puntos from "../../assets/seccion3/puntos.png";

const clientes = [
  { logo: ihop, alt: "IHOP", white: true },
  { logo: sodexo, alt: "Sodexo" },
  { logo: centralchef, alt: "Central Chef" },
  { logo: proesa, alt: "Proesa" },
  { logo: furi, alt: "Furi", white: true },
  { logo: cheftop, alt: "Cheftop", white: true },
  { logo: gastromax, alt: "Gastromax", white: true },
  { logo: w, alt: "W México City", white: true },
  { logo: innova, alt: "Innova" },
];
---


<section class="flex justify-center py-20 overflow-hidden">
      <!-- Decoración Circulo -->
        <img
            src={circulo.src}
            class="absolute left-0 top-950 w-50 -z-10"
            alt=""
        /> <!-- Decoración izquierda -->
        <img
            src={puntos.src}
            class="absolute rigt-180 top-975 w-24 -z-10"
            alt=""
        />
        <!-- Decoración derecha superior -->
        <img
            src={recuadro.src}
            class="absolute right-0 top-930 w-70 -z-10 "
            alt=""
        />
        <!-- Decoración derecha inferior -->
        <img
            src={circulo2.src}
            class="absolute right-0 top-1010 w-70 -z-10"
            alt=""
        />

  <div class="w-4/5">

    <!-- Título -->
    <div>
      <h2 class="text-titulos text-2xl md:text-4xl  font-bold uppercase">
        Nuestros Clientes
      </h2>

      <p class="text-textos text-base md:text-xl font-medium mt-3 mb-5 lg:mb-0">
        Nuestros clientes no solo son empresas; son experiencias que le dan vida al sector HORECA.
      </p>
    </div>

    <!-- DESKTOP -->
    <div class="hidden lg:block relative h-[620px]">

      <!-- IHOP -->
      <div class="z-30 absolute left-35 top-25 w-55 h-34 bg-white rounded-2xl shadow-[0_20px_50px_rgba(0,0,0,0.45)] flex items-center justify-center hover:-translate-y-2 transition">
        <img src={ihop.src} alt="IHOP" class="w-36" />
      </div>

      <!-- SODEXO -->
      <div class="absolute left-85 top-10 w-60 h-30 bg-[#5E97C2] rounded-2xl shadow-[0_20px_50px_rgba(0,0,0,0.35)] flex items-center justify-center hover:-translate-y-2 transition">
        <img src={sodexo.src} alt="Sodexo" class="w-40" />
      </div>

      <!-- CENTRAL CHEF -->
      <div class="z-30 absolute right-72 top-10 w-50 h-40 bg-[#5E97C2] rounded-2xl shadow-[0_20px_50px_rgba(0,0,0,0.45)] flex items-center justify-center hover:-translate-y-2 transition">
        <img src={centralchef.src} alt="Central Chef" class="w-40" />
      </div>

      <!-- PROESA -->
      <div class="absolute left-85 top-48 w-55 h-32 bg-[#5E97C2] rounded-2xl shadow-[0_20px_50px_rgba(0,0,0,0.45)] flex items-center justify-center hover:-translate-y-2 transition">
        <img src={proesa.src} alt="Proesa" class="w-36" />
      </div>

      <!-- FURI -->
      <div class="absolute left-[540px] top-35 w-50 h-40 bg-white rounded-2xl shadow-[0_20px_50px_rgba(0,0,0,0.45)] flex items-center justify-center hover:-translate-y-2 transition">
        <img src={furi.src} alt="Furi" class="w-35" />
      </div>

      <!-- CHEFTOP -->
      <div class="absolute right-40 top-56 w-70 h-40 bg-white rounded-2xl shadow-[0_20px_50px_rgba(0,0,0,0.45)] flex items-center justify-center hover:-translate-y-2 transition">
        <img src={cheftop.src} alt="Cheftop" class="w-40" />
      </div>

      <!-- GASTROMAX -->
      <div class="absolute left-45 bottom-52 w-50 h-28 bg-white rounded-2xl shadow-[0_20px_50px_rgba(0,0,0,0.45)]  flex items-center justify-center hover:-translate-y-2 transition">
        <img src={gastromax.src} alt="Gastromax" class="w-36" />
      </div>

      <!-- W -->
      <div class="z-30 absolute left-105 bottom-35 w-40 h-35 bg-white rounded-2xl shadow-[0_20px_50px_rgba(0,0,0,0.30)] flex items-center justify-center hover:-translate-y-2 transition">
        <img src={w.src} alt="W" class="w-20" />
      </div>

      <!-- INNOVA -->
      <div class="absolute left-[560px] bottom-40 w-60 h-35 bg-[#5E97C2] rounded-2xl shadow-[0_20px_50px_rgba(0,0,0,0.45)] flex items-center justify-center hover:-translate-y-2 transition">
        <img src={innova.src} alt="Innova" class="w-40" />
      </div>

    </div>

    <!-- MÓVIL -->
    <div class="grid grid-cols-2 gap-5 lg:hidden">

      <div class="bg-white rounded-3xl shadow-xl h-28 flex items-center justify-center">
        <img src={ihop.src} class="w-28" alt="">
      </div>

      <div class="bg-[#6EA6D8] rounded-3xl shadow-xl h-28 flex items-center justify-center">
        <img src={sodexo.src} class="w-28" alt="">
      </div>

      <div class="bg-[#6EA6D8] rounded-3xl shadow-xl h-28 flex items-center justify-center">
        <img src={centralchef.src} class="w-24" alt="">
      </div>

      <div class="bg-white rounded-3xl shadow-xl h-28 flex items-center justify-center">
        <img src={furi.src} class="w-24" alt="">
      </div>

      <div class="bg-white rounded-3xl shadow-xl h-28 flex items-center justify-center">
        <img src={cheftop.src} class="w-28" alt="">
      </div>

      <div class="bg-[#6EA6D8] rounded-3xl shadow-xl h-28 flex items-center justify-center">
        <img src={proesa.src} class="w-28" alt="">
      </div>      
      
      <div class="bg-white rounded-3xl shadow-xl h-28 flex items-center justify-center">
        <img src={gastromax.src} class="w-28" alt="">
      </div>

      <div class="bg-white rounded-3xl shadow-xl h-28 flex items-center justify-center">
        <img src={w.src} class="w-14" alt="">
      </div>

      <div class="bg-[#6EA6D8] rounded-3xl shadow-xl h-28 flex items-center justify-center col-span-2">
        <img src={innova.src} class="w-36" alt="">
      </div>

    </div>

  </div>
</section>