---
import logo1 from "../../assets/seccion3/logo1.png";
import logo2 from "../../assets/seccion3/logo2.png";
import logo3 from "../../assets/seccion3/logo3.png";
import logo4 from "../../assets/seccion3/logo4.png";
import logo5 from "../../assets/seccion3/logo5.png";
import logo6 from "../../assets/seccion3/logo6.png";
import logo7 from "../../assets/seccion3/logo7.png";
import puntos from "../../assets/seccion3/puntos.png";
import linea from "../../assets/seccion3/line.png";
---

<section class="flex justify-center lg:py-20 py-0 mb-5">
    <!-- Decoración Linea azul  -->
     <img src={linea.src} class="absolute right-10 lg:right-40  top-722  lg:top-620 w-40 lg:w-150  -z-10" alt="" />

    <!-- Decoración puntos derecha -->
    <img src={puntos.src} class="absolute right-10 lg:right-40 top-730 lg:top-640 w-20 lg:w-30 -z-10" alt="" />

    <!-- Decoración puntos izquierda -->
    <img src={puntos.src} class="absolute left-10 lg:left-30 top-770 lg:top-700 w-20 lg:w-30 -z-10" alt="" />

    <div class="w-4/5">
        <div>
            <h2 class="text-center text-2xl md:text-4xl font-bold text-titulos uppercase">
                Marcas Colaboradoras
            </h2>

            <p class="text-center font-medium text-textos text-base md:text-xl max-w-xl mx-auto mt-6" >
                Para garantizar soluciones de alta calidad y vanguardia,
                colaboramos y damos soporte a las principales
                <span class="font-bold text-titulos"> marcas líderes </span>
                del sector HORECA.
            </p>

            <div class="overflow-hidden mt-10 md:mt-20 mb-10 md:mb-20 relative">
                <div class="logos-track">
                    <!-- Primera vuelta -->
                    <img src={logo7.src} class="h-8 md:h-13 object-contain" />
                    <img src={logo1.src} class="h-8 md:h-11 object-contain" />
                    <img src={logo2.src} class="h-8 md:h-11 object-contain" />
                    <img src={logo3.src} class="h-8 md:h-11 object-contain" />
                    <img src={logo4.src} class="h-8 md:h-9 object-contain" />
                    <img src={logo5.src} class="h-8 md:h-12 object-contain" />
                    <img src={logo6.src} class="h-8 md:h-11 object-contain" />

                    <!-- Segunda vuelta (duplicados) -->
                    <img src={logo7.src} class="h-8 md:h-13 object-contain" />
                    <img src={logo1.src} class="h-8 md:h-11 object-contain" />
                    <img src={logo2.src} class="h-8 md:h-11 object-contain" />
                    <img src={logo3.src} class="h-8 md:h-11 object-contain" />
                    <img src={logo4.src} class="h-8 md:h-11 object-contain" />
                    <img src={logo5.src} class="h-8 md:h-11 object-contain" />
                    <img src={logo6.src} class="h-8 md:h-11 object-contain" />
                </div>
            </div>

            <div class="flex justify-center items-center gap-2 md:gap-3 mt-6 md:mt-10 mb-10">
                <div  class="w-12 h-8 md:w-10 md:h-10 rounded-full bg-blue-100 flex justify-center items-center text-titulos" >
                    <i class="fa-solid fa-gear"></i>
                </div>

                <p class="text-textos text-base md:text-xl font-medium ">
                    Así como equipos personalizados de <span
                        class="font-bold text-titulos">
                        Fabricación Especial</span>
                </p>
            </div>
        </div>
    </div>
</section>
<style>
    .logos-track {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: max-content;
        animation: scroll 25s linear infinite;
    }

    @media (min-width: 768px) {
        .logos-track {
            gap: 5rem;
        }
    }

    .logos-track img {
        flex-shrink: 0;
    }

    @keyframes scroll {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(-50%);
        }
    }
</style>
